# Build artifacts
/build/
/dist/
**/*.o
**/*.a
**/*.so

# IDE
/.vscode
/.idea

# Local config/cache
*.swp
*.kate-swp

# Flatpak
.flatpak-builder/
repo/
*.flatpak

# Python
.pytest_cache/
__pycache__/
