# Build artifacts
/build
**/target/
**/*.o
**/*.obj
**/*.a
**/*.so
**/*.dylib
**/*.dll
**/*.exe

# Rust
rust/target/
Cargo.lock

# Qt/CMake
/.qt
/CMakeFiles
/CMakeCache.txt
/cmake_install.cmake

# IDE
/.vscode
/.idea

# Flutter
flutter_app/build/
flutter_app/.dart_tool/
