# Build artifacts
/build
**/target/
**/*.o
**/*.obj
**/*.a
**/*.so
**/*.dylib
**/*.dll
**/*.exe

# Rust
rust/target/

# IDE
/.vscode
/.idea

# Local config/cache
*.swp
*.kate-swp

# Flatpak
.flatpak-builder/
repo/
*.flatpak
