[Desktop Entry]
Type=Application
Name=Gosh Yubikey Manager
Exec=gosh_yubikey_manager
Icon=com.github.gosh.gosh_yubikey_manager
Terminal=false
StartupWMClass=com.github.gosh.gosh_yubikey_manager
Categories=Utility;Security;
Comment=Manage OATH credentials on YubiKey devices
Keywords=yubikey;authenticator;totp;hotp;2fa;oath;
