[Desktop Entry]
Type=Application
Name=Gosh Yubico Authenticator
Exec=gosh-authenticator
Icon=com.goshapps.YubicoAuthenticator
Terminal=false
StartupNotify=true
StartupWMClass=com.goshapps.YubicoAuthenticator
Categories=Utility;Security;
Comment=Manage OATH credentials on YubiKey devices
Keywords=yubikey;authenticator;totp;hotp;2fa;oath;
DBusActivatable=false
