[Desktop Entry]
Name=Gosh Authenticator
Comment=Manage OATH credentials on YubiKey devices
Exec=gosh-authenticator
Icon=com.github.gosh.authenticator
Terminal=false
Type=Application
Categories=Utility;Security;
Keywords=yubikey;oath;totp;hotp;authenticator;2fa;
StartupNotify=true
